<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visit edit</title>
</head>
<body>
<h2>I'm Visit_edit_page</h2>
<form action="" method="post">
    {% csrf_token %}
    {% if user %}
{#        {% info = user.visithospital_set.filter(name='fancy') %}#}
        <input type="hidden" name="visit_id_hidden" value='{{ user.id }}'/>
        <label>User name
            <input type="text" name="name" value={{ user.name }}>
        </label>
        <br>
        <label>User age
            <input type="text" name="age" value={{ user.age }}>
        </label>
        <label>User gender
            <input type="text" name="gender" value={{ user.gender }}>
        </label>
        <label>visit hospital
            <input type="text" name="hospital" value="{{ info.hospital }}">
        </label>
    {% else %}
        <input type="hidden" name="visit_id_hidden" value="0">
        <label>blog title
            <input type="text" name="title">
        </label>
        <br>
        <label>blog content
            <input type="text" name="content">
        </label>
    {% endif %}
    <br>
    <input type="submit" value="do submit">

</form>
</body>
</html>