<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visit Hospital</title>
</head>
<body>

<h2>I'm visit page</h2>

<form method="get" action="{% url 'family:user_search' %}">
    <input type='search' placeholder="search someone by name" name="q">
    <button>Search</button>
</form>

<br/>
{% for user in users %}
    <a href="{% url 'family:visit_info_page' user.id %}">{{ user }}</a>
    <br/><br/>
{% endfor %}

<a href="{% url 'family:index' %}">Return to main page</a>
</body>
</html>