<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visit edit</title>
</head>
<body>
<h2>I'm Visit_edit_page</h2>
<form action="" method="post">
    {% csrf_token %}
{% if user %}
        <input type="hidden" name="visit_id_hidden" value='{{ user.id }}'/>
        <label>blog title
            <input type="text" name="date" value={{ user.title }}>
        </label>
        <br>
        <label>blog content
            <input type="text" name="pathogenesis" value={{ article.content }}>
        </label>
    {% else %}
        <input type="hidden" name="visit_id_hidden" value="0">
        <label>blog title
            <input type="text" name="title">
        </label>
        <br>
        <label>blog content
            <input type="text" name="content">
        </label>
    {% endif %}
    <br>
    <input type="submit" value="do submit">

</form>
</body>
</html>